@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color:lemonchiffon;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.metacontainer{
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.container, #color{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    /* border: solid black; */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 
              0 2px 4px -1px rgba(0,0,0,0.06);
}

div .line{
    display: flex;
}

div .rect{
    height: 30px;
    width: 30px;
    border: solid 1px;
    border-color:darkgray;
    background-color: white;
}

p{
    text-align: center;
    margin: 10px;
}
#title{
    font-size: 180%;
    font-weight: bolder;
}

#info{
    margin-bottom: 30px;
}

input{
    height: 30px;
    border-radius: 10px;
}

[data-coloris] {
    height: 36px;
    border: none;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 14px;
  }

.specific{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.specific:hover{
    border: solid black 1.5px;
}
.colorset{
    display: flex;
    justify-content:space-around;
}

#color{
    gap: 20px;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}